@font-face {
  font-family: "Roboto";
  src: url("../astess/font/Roboto-Black.eot");
  src: url("../astess/font/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../astess/font/Roboto-Black.woff2") format("woff2"), url("../astess/font/Roboto-Black.woff") format("woff"), url("../astess/font/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../astess/font/Roboto-Medium.eot");
  src: url("../astess/font/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../astess/font/Roboto-Medium.woff2") format("woff2"), url("../astess/font/Roboto-Medium.woff") format("woff"), url("../astess/font/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../astess/font/Roboto-Bold.eot");
  src: url("../astess/font/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../astess/font/Roboto-Bold.woff2") format("woff2"), url("../astess/font/Roboto-Bold.woff") format("woff"), url("../astess/font/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../astess/font/Roboto-Thin.eot");
  src: url("../astess/font/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../astess/font/Roboto-Thin.woff2") format("woff2"), url("../astess/font/Roboto-Thin.woff") format("woff"), url("../astess/font/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../astess/font/Roboto-Regular.eot");
  src: url("../astess/font/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../astess/font/Roboto-Regular.woff2") format("woff2"), url("../astess/font/Roboto-Regular.woff") format("woff"), url("../astess/font/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../astess/font/Roboto-Light.eot");
  src: url("../astess/font/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../astess/font/Roboto-Light.woff2") format("woff2"), url("../astess/font/Roboto-Light.woff") format("woff"), url("../astess/font/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

@media (max-width: 375px) {
  .wither {
    flex-direction: column;
    width: 100vw;
    height: 100%;
    background-image: url(../img/bg-weather2.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wither .left__wihter {
    padding: 19px;
    margin-bottom: 40px;
  }
  .wither .left__wihter .img {
    margin-bottom: 100px;
    width: 39px;
    height: 20px;
  }
  .wither .left__wihter .wither__area {
    gap: 5px;
  }
  .wither .left__wihter .wither__area h1 {
    color: #FFF;
    font-size: 64px;
  }
  .wither .left__wihter .wither__area div {
    row-gap: 4px;
  }
  .wither .left__wihter .wither__area div h2 {
    font-size: 30px;
  }
  .wither .left__wihter .wither__area div h3 {
    font-size: 10px;
  }
  .wither .left__wihter .wither__area img {
    width: 40px;
    height: 40px;
  }
  .wither .right__wihter {
    width: 100%;
  }
  .wither .right__wihter .main__section .serch__section {
    position: relative;
    padding-bottom: none;
  }
  .wether__text h1 {
    border-top: none;
  }
  .wether__today {
    display: none !important;
  }
  .twind {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
  }
}
@media (min-width: 375px) and (max-width: 982px) {
  .wither {
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg-weather33.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wither .left__wihter {
    padding: 19px;
    margin-bottom: 40px;
  }
  .wither .left__wihter .img {
    margin-bottom: 200px;
    width: 60px;
    height: 31.372px;
  }
  .wither .left__wihter .wither__area {
    gap: 5px;
  }
  .wither .left__wihter .wither__area h1 {
    color: #FFF;
    font-size: 120px;
  }
  .wither .left__wihter .wither__area div {
    row-gap: 10px;
  }
  .wither .left__wihter .wither__area div h2 {
    font-size: 48px;
  }
  .wither .left__wihter .wither__area div h3 {
    font-size: 16px;
  }
  .wither .left__wihter .wither__area img {
    width: 55px;
    height: 55px;
  }
  .wither .right__wihter {
    width: 100%;
  }
  .wither .right__wihter .main__section {
    padding-left: 100px;
    padding-right: 100px;
  }
  .twind {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
  }
  .wether__today {
    display: none !important;
  }
}
.wither {
  width: 100%;
  height: 742px;
  background-image: url(../img/bg-weather.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.left__wihter {
  padding-top: 37px;
  padding-left: 150px;
}
.left__wihter .img {
  margin-bottom: 450px;
}
.left__wihter :nth-child(2) {
  display: flex;
  align-items: center;
  gap: 20px;
}
.left__wihter :nth-child(2) h1 {
  color: #FFF;
  font-size: 142px;
  font-weight: 400;
  letter-spacing: -11.44px;
}
.left__wihter :nth-child(2) div {
  flex-direction: column;
}
.left__wihter :nth-child(2) div h2 {
  color: #FFF;
  font-size: 60px;
  font-weight: 400;
}
.left__wihter :nth-child(2) div h3 {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
}

.right__wihter {
  width: 35%;
  height: 100%;
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
}
.right__wihter .main__section {
  padding-top: 45px;
  padding-left: 45px;
  padding-right: 45px;
}
.right__wihter .main__section .serch__section {
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  padding-bottom: 13px;
  align-items: center;
}
.right__wihter .main__section .serch__section form input {
  background-color: transparent;
  border: none;
  outline: none;
}
.right__wihter .main__section .serch__section form ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  font-weight: 400;
}
.right__wihter .main__section .serch__section form ::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  font-weight: 400;
}
.right__wihter .main__section .serch__section form :focus {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  font-weight: 400;
}
.right__wihter .main__section .wither__detals p {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  margin: 41px auto 52px;
}
.right__wihter .main__section .wither__detals div h1 {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.right__wihter .main__section .wither__detals div .temp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right__wihter .main__section .wither__detals div .temp h2 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 400;
}
.right__wihter .main__section .wither__detals div .temp div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}
.right__wihter .main__section .wither__detals div .temp div h3 {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.right__wihter .main__section .wether__today {
  padding-top: 70px;
}
.right__wihter .main__section .wether__today .wether__text h1 {
  border-top: 2px solid #FFFFFF;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  padding-top: 30px;
}
.right__wihter .main__section .wether__today .wether__title {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right__wihter .main__section .wether__today .wether__title :first-child {
  display: flex;
  gap: 13px;
  align-items: center;
}
.right__wihter .main__section .wether__today .wether__title :first-child p {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.right__wihter .main__section .wether__today .wether__title :last-child h1 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}/*# sourceMappingURL=style.css.map */